services:
  laravel:
    build:
      context: ./laravel
      dockerfile: /docker/Dockerfile
    container_name: pp_laravel_app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./laravel:/var/www
      - vendor_data:/var/www/vendor
      - laravel_storage:/var/www/storage
    networks:
      - app-network
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: pp_mysql_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: pp_nginx_server
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./laravel:/var/www
    depends_on:
      - laravel
    networks:
      - app-network

volumes:
  mysql_data:
  vendor_data:
  laravel_storage:

networks:
  app-network:
    driver: bridge
