vendor
node_modules
storage/*.key
.phpunit.result.cache
phpunit_error.log
.env
.env.testing
.git
.vscode
.agent
public/storage

storage/app/public/games
storage/app/*.wav
storage/app/*.mp3
storage/app/test*
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/data
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore