includes:
  - vendor/nunomaduro/larastan/extension.neon
  - phpstan-baseline.neon

parameters:
  level: 5
  paths:
    - app
    - routes
    - config

  excludePaths:
    - tests
    - storage
    - bootstrap
    - vendor

  inferPrivatePropertyTypeFromConstructor: true
  treatPhpDocTypesAsCertain: true
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  reportUnmatchedIgnoredErrors: false

  scanFiles:
    - bootstrap/app.php
    - routes/web.php
    - routes/api.php

  bootstrapFiles:
    - vendor/laravel/framework/src/Illuminate/Foundation/helpers.php

  ignoreErrors:
    - '#Call to an undefined method Illuminate\\Support\\Collection::someLaravelMacro#'
    - '#Call to an undefined method .*::json\\(\\)#'
    - '#Call to an undefined method .*::createToken\\(\\)#'
    - '#Access to an undefined property .+\\Request\\..*::\\\$[A-Za-z0-9_]+#'
    - '#Call to an undefined static method App\\Models\\User::create\\(\\)#'
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\MorphMany::delete\\(\\)#'
    - '#Binary operation .* and mixed results in an error#'
